.cardCountryContainer{
    display: flex;/*
    border-radius: 10px; */
    width: 20px,fit-content;
    
    color: white;
    background-color: rgb(27, 27, 27);
    font-size: 15px;
    margin:3px;
    text-align: center; 
}

.cardCountryContainer .btnClose{
    border:none;
    background-color: transparent;
    color: white;
    margin-top: 0px;
   margin-right: 0px;
}

.cardCountryContainer .btnClose:hover{
    cursor: pointer;
    
}